@charset "utf-8";
/* CSS Document */

h1{
	color: antiquewhite;
	text-align: center;
}

.menu{
	
	list-style: none;
	padding: 0;
	background: antiquewhite;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}


.menu li a{
	text-decoration: none;
	color: black;
	padding: 15px;
	display: block; 
}


.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #98C3EC;
}

a{
	font-family: 'Rampart One', cursive;
}